<div class = "container-fluid"  style="padding: 8px; background-color:cyan;">
<ul class = "nav nav-bar-default" >
<li routerLinkActive = "active" class="col-xs-1" > 
  <a routerLink = "Home" >Home</a>
</li>
<li routerLinkActive = "active"  class="col-xs-1" > 
  <a routerLink = "create" >Create</a>
</li>
<li routerLinkActive = "active"  class="col-xs-1" > 
  <a routerLink = "list" >List</a>
</li>
<li routerLinkActive = "active"  class="col-xs-offset-7   col-xs-2"  > 
  <a routerLink = "Contact" >Contactus</a>
</li>
</ul>
</div>
<br/>
<br/>
<div style="padding-right: 18px">
<router-outlet></router-outlet>
</div>

